# Assignment 1

<div class="alert alert-success">This notebook provides a step by step guide to execute the code for Assignment 1 of cloud computing, which has two part.</div>

## <U>PART 1:</U>

### Setup : Readying environment
The first step is to import all the needed libraries that will be used throughout the notebook:

In [1]:
import hashlib
import time
import requests
import pandas as pd

### Setup: Access to Marvel's API

The below step connects to marvel's API (https://developer.marvel.com/) which requires the following:

<ul>
  <li>Public key</li>
  <li>Private key</li>
  <li>Timestamp</li>
  <li>An md5 hash</li>
</ul>

In [2]:
public_key = '46180a82e99e236b44c9ebb179e70221'
private_key = '6c45f0f25e79ad46609977d2a2d3c883426dc29b'
timestamp_str = str(time.time())
hash_1 = timestamp_str+private_key+public_key
hash_2 = hashlib.md5(hash_1.encode())
hashkey = hash_2.hexdigest()

### Step 1: Generate a list of 30 characters

The below code sends a request to Marvel's API to generate a list of 30 characters. To make this request the url with the 'characters' endpoint is used. The required parameters setup above are inserted below to gain authorization.

In [3]:
urlCharacters = 'http://gateway.marvel.com/v1/public/characters'
params = {'apikey': public_key,
         'ts': timestamp_str,
         'hash': hashkey,
         'limit': 30}
response = requests.get(urlCharacters, params)
response = response.json()

name_list = []
for obj in response['data']['results']:
    name_list.append(obj['name'])

print(name_list)

['3-D Man', 'A-Bomb (HAS)', 'A.I.M.', 'Aaron Stack', 'Abomination (Emil Blonsky)', 'Abomination (Ultimate)', 'Absorbing Man', 'Abyss', 'Abyss (Age of Apocalypse)', 'Adam Destine', 'Adam Warlock', 'Aegis (Trey Rollins)', 'Aero (Aero)', 'Agatha Harkness', 'Agent Brand', 'Agent X (Nijo)', 'Agent Zero', 'Agents of Atlas', 'Aginar', 'Air-Walker (Gabriel Lan)', 'Ajak', 'Ajaxis', 'Akemi', 'Alain', 'Albert Cleary', 'Albion', 'Alex Power', 'Alex Wilder', 'Alexa Mendez', 'Alexander Pierce']

### Step 2: Retrieve IDs

The below code takes the above generated list of 30 characters and retrieves their IDs, and it saves it in the variable ```id_list``` as a string

In [4]:
id_list = []
for obj in response['data']['results']:
    id_list.append(str(obj['id']))

print(id_list)

['1011334', '1017100', '1009144', '1010699', '1009146', '1016823', '1009148', '1009149', '1010903', '1011266', '1010354', '1010846', '1017851', '1012717', '1011297', '1011031', '1009150', '1011198', '1011175', '1011136', '1011176', '1010870', '1011194', '1011170', '1009240', '1011120', '1010836', '1010755', '1011214', '1009497']

### Step 3: Retrieve Total Events

The total number of events available for all the 30 characters is generated below and saved in the variable ```totEvents``` as an integer.

In [5]:
totEvents = {}
for obj in response['data']['results']:
    totEvents[str(obj['id'])] = obj['events']['available']
    
print(totEvents)

{'1011334': 1, '1017100': 0, '1009144': 0, '1010699': 0, '1009146': 1, '1016823': 0, '1009148': 4, '1009149': 1, '1010903': 1, '1011266': 0, '1010354': 8, '1010846': 0, '1017851': 0, '1012717': 0, '1011297': 0, '1011031': 0, '1009150': 0, '1011198': 1, '1011175': 0, '1011136': 1, '1011176': 1, '1010870': 0, '1011194': 0, '1011170': 0, '1009240': 0, '1011120': 0, '1010836': 0, '1010755': 0, '1011214': 0, '1009497': 0}

### Step 4: Retrieve Total Series

The total number of series available for all 30 characters is generated and saved in the variable ```totSeries``` as an integer.

In [6]:
totSeries = {}
for obj in response['data']['results']:
    totSeries[str(obj['id'])] = obj['series']['available']
    
print(totSeries)

{'1011334': 3, '1017100': 2, '1009144': 34, '1010699': 3, '1009146': 27, '1016823': 2, '1009148': 48, '1009149': 3, '1010903': 3, '1011266': 0, '1010354': 82, '1010846': 0, '1017851': 5, '1012717': 10, '1011297': 7, '1011031': 3, '1009150': 10, '1011198': 13, '1011175': 0, '1011136': 3, '1011176': 1, '1010870': 0, '1011194': 0, '1011170': 0, '1009240': 0, '1011120': 1, '1010836': 6, '1010755': 4, '1011214': 0, '1009497': 1}

### Step 5: Retrieve Total Comics

The total number of comics available for all 30 characters is generated and saved in ```totComics``` as an integer.

In [7]:
totComics = {}
for obj in response['data']['results']:
    totComics[str(obj['id'])] = obj['comics']['available']
    
print(totComics)

{'1011334': 12, '1017100': 4, '1009144': 51, '1010699': 14, '1009146': 55, '1016823': 2, '1009148': 96, '1009149': 8, '1010903': 3, '1011266': 0, '1010354': 188, '1010846': 0, '1017851': 29, '1012717': 20, '1011297': 29, '1011031': 18, '1009150': 29, '1011198': 45, '1011175': 0, '1011136': 4, '1011176': 4, '1010870': 0, '1011194': 0, '1011170': 0, '1009240': 0, '1011120': 1, '1010836': 18, '1010755': 9, '1011214': 0, '1009497': 1}

### Step 6: Retrieve the Price of the Most Expensive Comic

Retrieve the most expensive comic for each of the 30 characters in the list and its respective price. This is saved in ```maxPricePerCharacter``` in float form and USD.

In [8]:
maxPricePerCharacter = {}

for obj in response['data']['results']:
    resp_comics = requests.get(obj['comics']['collectionURI'], params={'apikey': public_key,
                                                                       'ts': timestamp_str,
                                                                       'hash': hashkey,
                                                                       'characterId': obj['id']})
    resp_comics = resp_comics.json()
    max_price = 0
    for comic in resp_comics['data']['results']:
        if comic['prices'][0]['price'] > max_price:
            max_price = comic['prices'][0]['price']
    if max_price == 0:
        maxPricePerCharacter[obj['name']] = None
    else:
        maxPricePerCharacter[obj['name']] = float(max_price)

print(maxPricePerCharacter)

{'3-D Man': 2.99, 'A-Bomb (HAS)': 2.99, 'A.I.M.': 125.0, 'Aaron Stack': 2.99, 'Abomination (Emil Blonsky)': 75.0, 'Abomination (Ultimate)': 3.99, 'Absorbing Man': 75.0, 'Abyss': 9.99, 'Abyss (Age of Apocalypse)': 9.99, 'Adam Destine': None, 'Adam Warlock': 125.0, 'Aegis (Trey Rollins)': None, 'Aero (Aero)': 4.99, 'Agatha Harkness': 49.99, 'Agent Brand': 15.99, 'Agent X (Nijo)': 9.99, 'Agent Zero': 3.95, 'Agents of Atlas': 39.99, 'Aginar': None, 'Air-Walker (Gabriel Lan)': 9.99, 'Ajak': 2.99, 'Ajaxis': None, 'Akemi': None, 'Alain': None, 'Albert Cleary': None, 'Albion': 2.99, 'Alex Power': 6.99, 'Alex Wilder': 3.99, 'Alexa Mendez': None, 'Alexander Pierce': 2.99}

### Step 7: Store the Data in a pandas DataFrame
The data generated is stored in a pandas DataFrame ```df``` with the following columns: 
<ul>
  <li>Character Name</li>
  <li>Character ID</li>
  <li>Total Available Events</li>
  <li>Total Available Series</li>
  <li>Total Available Comics</li>
  <li>Price of the Most Expensive Comic</li>
</ul>

In case a Character is not featured in any Events, Series, or Comics the entry will be filled with "None"
In case a Character does not have a price the entry will be filled with "None"

In [9]:
def replace_zeros(df, column_name):
    df[column_name].replace(to_replace = 0, value = None, inplace = True)

df = pd.DataFrame(columns = ['Character Name', 'Character ID', 'Total Available Events', 'Total Available Series', 'Total Available Comics', 'Price of the Most Expensive Comic'])
i = 0
while i < 30:
    entry = {'Character Name': name_list[i],
             'Character ID': id_list[i],
             'Total Available Events': totEvents[id_list[i]],
             'Total Available Series': totSeries[id_list[i]],
             'Total Available Comics': totComics[id_list[i]],
             'Price of the Most Expensive Comic': maxPricePerCharacter[name_list[i]]}
    df = df.append(entry, ignore_index = True)
    i += 1
    
replace_zeros(df, 'Total Available Events'), replace_zeros(df, 'Total Available Series'), replace_zeros(df, 'Total Available Comics')

df

C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)
C:\Users\admin\AppData\Local\Temp\ipykernel_7428\1892530123.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(entry, ignore_index = True)

,Character Name,Character ID,Total Available Events,Total Available Series,Total Available Comics,Price of the Most Expensive Comic
0,3-D Man,1011334,1,3,12,2.99
1,A-Bomb (HAS),1017100,None,2,4,2.99
2,A.I.M.,1009144,None,34,51,125.0
3,Aaron Stack,1010699,None,3,14,2.99
4,Abomination (Emil Blonsky),1009146,1,27,55,75.0
5,Abomination (Ultimate),1016823,None,2,2,3.99
6,Absorbing Man,1009148,4,48,96,75.0
7,Abyss,1009149,1,3,8,9.99
8,Abyss (Age of Apocalypse),1010903,1,3,3,9.99
9,Adam Destine,1011266,None,None,None,None
10,Adam Warlock,1010354,8,82,188,125.0
11,Aegis (Trey Rollins),1010846,None,None,None,None
12,Aero (Aero),1017851,None,5,29,4.99
13,Agatha Harkness,1012717,None,10,20,49.99
14,Agent Brand,1011297,None,7,29,15.99
15,Agent X (Nijo),1011031,None,3,18,9.99
16,Agent Zero,1009150,None,10,29,3.95
17,Agents of Atlas,1011198,1,13,45,39.99
18,Aginar,1011175,None,None,None,None
19,Air-Walker (Gabriel Lan),1011136,1,3,4,9.99
20,Ajak,1011176,1,1,4,2.99
21,Ajaxis,1010870,None,None,None,None
22,Akemi,1011194,None,None,None,None
23,Alain,1011170,None,None,None,None
24,Albert Cleary,1009240,None,None,None,None
25,Albion,1011120,None,1,1,2.99
26,Alex Power,1010836,None,6,18,6.99
27,Alex Wilder,1010755,None,4,9,3.99
28,Alexa Mendez,1011214,None,None,None,None
29,Alexander Pierce,1009497,None,1,1,2.99

### Step 8: Save the DataFrame to a CSV

The ```df``` file is saved as a CSV titled ```data.csv```

In [10]:
df.to_csv("data.csv", index = False)

## <u> PART II: </u>

The second part creates an API that allows the user to interact with the DataFrame generated in the earlier step.

<b>Users will be able to do the following:</b>
<ul>
  <li>Retrieve the whole DataFrame in JSON format</li>
  <li>Retrieve a single entry or a list of entries using a Character Name or Character ID</li>
  <li>Add a new character to the DataFrame by specifying: Character Name, Character ID, Available Events, Available Series, Available Comics, Price of Comics</li>
  <li>Add a new character to the DataFrame by specifying only the Character ID, the API will extract the remaining data from Marvel's API and append it to the DataFrame.</li>
  <li>Delete a character or a list of characters by providing the Character ID or Character Name</li>
</ul>

<b>Users will not be able to do the following:</b>
<ul>
  <li>Add a new character with a pre-existing Character ID</li>
  <li>Delete a character that does not exist in the DataFrame</li>
  <li>Add a new character using Character ID that does not exist in Marvel's API</li>
</ul>

In order to add and delete characters authentication is required: users need to input an e-mail and a password, this authorization is limited to 1 hour.

Note: For some Mac OS versions, requests to http://localhost:5000/ will produce a 403 error. Try directing your requests to http://127.0.0.1:5000/ instead.

### Retrieve a single entry using Character ID

In [11]:
resp = requests.get('http://localhost:5000/characters', params={'characterID': 1009148})
resp.json()

{'status': 200,
 'response': [{'Character Name': 'Absorbing Man',
   'Character ID': 1009148,
   'Total Available Events': 4.0,
   'Total Available Series': 48.0,
   'Total Available Comics': 96.0,
   'Price of the Most Expensive Comic': 75.0}]}

### Retrieve multiple entries using Character ID

In [12]:
resp = requests.get('http://localhost:5000/characters', params={'characterID': [1009148, 1011031]})
resp.json()

{'status': 200,
 'response': [{'Character Name': 'Absorbing Man',
   'Character ID': 1009148,
   'Total Available Events': 4.0,
   'Total Available Series': 48.0,
   'Total Available Comics': 96.0,
   'Price of the Most Expensive Comic': 75.0},
  {'Character Name': 'Agent X (Nijo)',
   'Character ID': 1011031,
   'Total Available Events': nan,
   'Total Available Series': 3.0,
   'Total Available Comics': 18.0,
   'Price of the Most Expensive Comic': 9.99}]}

### Attempt to add character without Authorization

In [13]:
resp = requests.post('http://localhost:5000/characters', params={'characterID': 1017100,
                                                                'characterName': 'Marco',
                                                                'events': 4,
                                                                'series': 5,
                                                                'comics': 10,
                                                                'price': 0.0})
resp.json()

{'msg': 'Missing Authorization Header'}

### Create Authorization

#### Signup Process

The below authorization process requires using the url endpoint 'signup', an e-mail, and a password.
Users will use this to "sign up" to use the API

In [14]:
resp = requests.post('http://localhost:5000/signup', params={'email': 'safia@gmail.com',
                                                             'password': '1111'})
resp.json()

{'status': 200, 'response': 'Successfully added'}

#### Login Process

In [15]:
resp = requests.get('http://localhost:5000/login', params={'email': 'safia@gmail.com',
                                                             'password': '1111'})
resp.json()

{'status': 200,
 'response': 'Successfully logged in',
 'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY2NTc2NjAxOCwianRpIjoiOTgwMjM5ODYtMDhmMC00YzkzLWE4NDktOTgwMjc5MjViNWZjIiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjAiLCJuYmYiOjE2NjU3NjYwMTgsImV4cCI6MTY2NTc2OTYxOH0.U1EP9nU7oQ1p60oaVR6PYOallrTqWCSjQpglOpRYRVE'}

Upon successfuly signing up, a token is generated. Please copy the token and paste it in the below ```token``` variable

In [16]:
token = resp.json()['token']
token

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTY2NTc2NjAxOCwianRpIjoiOTgwMjM5ODYtMDhmMC00YzkzLWE4NDktOTgwMjc5MjViNWZjIiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjAiLCJuYmYiOjE2NjU3NjYwMTgsImV4cCI6MTY2NTc2OTYxOH0.U1EP9nU7oQ1p60oaVR6PYOallrTqWCSjQpglOpRYRVE'

### Delete Character with Authorization [Incorrect Character ID]

In [17]:
resp = requests.delete('http://localhost:5000/characters', params={'characterID': 101710000}, headers={'Authorization': f'Bearer {token}'})
resp.json()

{'status': 404, 'response': 'Incorrect values for characterID.'}

### Delete character with Authorization

In [18]:
resp = requests.delete('http://localhost:5000/characters', params={'characterID': 1011334}, headers={'Authorization': f'Bearer {token}'})
resp.json()

{'status': 200,
 'response': [{'Character Name': 'A-Bomb (HAS)',
   'Character ID': 1017100,
   'Total Available Events': nan,
   'Total Available Series': 2.0,
   'Total Available Comics': 4.0,
   'Price of the Most Expensive Comic': 2.99},
  {'Character Name': 'A.I.M.',
   'Character ID': 1009144,
   'Total Available Events': nan,
   'Total Available Series': 34.0,
   'Total Available Comics': 51.0,
   'Price of the Most Expensive Comic': 125.0},
  {'Character Name': 'Aaron Stack',
   'Character ID': 1010699,
   'Total Available Events': nan,
   'Total Available Series': 3.0,
   'Total Available Comics': 14.0,
   'Price of the Most Expensive Comic': 2.99},
  {'Character Name': 'Abomination (Emil Blonsky)',
   'Character ID': 1009146,
   'Total Available Events': 1.0,
   'Total Available Series': 27.0,
   'Total Available Comics': 55.0,
   'Price of the Most Expensive Comic': 75.0},
  {'Character Name': 'Abomination (Ultimate)',
   'Character ID': 1016823,
   'Total Available Events': nan,
   'Total Available Series': 2.0,
   'Total Available Comics': 2.0,
   'Price of the Most Expensive Comic': 3.99},
  {'Character Name': 'Absorbing Man',
   'Character ID': 1009148,
   'Total Available Events': 4.0,
   'Total Available Series': 48.0,
   'Total Available Comics': 96.0,
   'Price of the Most Expensive Comic': 75.0},
  {'Character Name': 'Abyss',
   'Character ID': 1009149,
   'Total Available Events': 1.0,
   'Total Available Series': 3.0,
   'Total Available Comics': 8.0,
   'Price of the Most Expensive Comic': 9.99},
  {'Character Name': 'Abyss (Age of Apocalypse)',
   'Character ID': 1010903,
   'Total Available Events': 1.0,
   'Total Available Series': 3.0,
   'Total Available Comics': 3.0,
   'Price of the Most Expensive Comic': 9.99},
  {'Character Name': 'Adam Destine',
   'Character ID': 1011266,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Adam Warlock',
   'Character ID': 1010354,
   'Total Available Events': 8.0,
   'Total Available Series': 82.0,
   'Total Available Comics': 188.0,
   'Price of the Most Expensive Comic': 125.0},
  {'Character Name': 'Aegis (Trey Rollins)',
   'Character ID': 1010846,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Aero (Aero)',
   'Character ID': 1017851,
   'Total Available Events': nan,
   'Total Available Series': 5.0,
   'Total Available Comics': 29.0,
   'Price of the Most Expensive Comic': 4.99},
  {'Character Name': 'Agatha Harkness',
   'Character ID': 1012717,
   'Total Available Events': nan,
   'Total Available Series': 10.0,
   'Total Available Comics': 20.0,
   'Price of the Most Expensive Comic': 49.99},
  {'Character Name': 'Agent Brand',
   'Character ID': 1011297,
   'Total Available Events': nan,
   'Total Available Series': 7.0,
   'Total Available Comics': 29.0,
   'Price of the Most Expensive Comic': 15.99},
  {'Character Name': 'Agent X (Nijo)',
   'Character ID': 1011031,
   'Total Available Events': nan,
   'Total Available Series': 3.0,
   'Total Available Comics': 18.0,
   'Price of the Most Expensive Comic': 9.99},
  {'Character Name': 'Agent Zero',
   'Character ID': 1009150,
   'Total Available Events': nan,
   'Total Available Series': 10.0,
   'Total Available Comics': 29.0,
   'Price of the Most Expensive Comic': 3.95},
  {'Character Name': 'Agents of Atlas',
   'Character ID': 1011198,
   'Total Available Events': 1.0,
   'Total Available Series': 13.0,
   'Total Available Comics': 45.0,
   'Price of the Most Expensive Comic': 39.99},
  {'Character Name': 'Aginar',
   'Character ID': 1011175,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Air-Walker (Gabriel Lan)',
   'Character ID': 1011136,
   'Total Available Events': 1.0,
   'Total Available Series': 3.0,
   'Total Available Comics': 4.0,
   'Price of the Most Expensive Comic': 9.99},
  {'Character Name': 'Ajak',
   'Character ID': 1011176,
   'Total Available Events': 1.0,
   'Total Available Series': 1.0,
   'Total Available Comics': 4.0,
   'Price of the Most Expensive Comic': 2.99},
  {'Character Name': 'Ajaxis',
   'Character ID': 1010870,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Akemi',
   'Character ID': 1011194,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Alain',
   'Character ID': 1011170,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Albert Cleary',
   'Character ID': 1009240,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Albion',
   'Character ID': 1011120,
   'Total Available Events': nan,
   'Total Available Series': 1.0,
   'Total Available Comics': 1.0,
   'Price of the Most Expensive Comic': 2.99},
  {'Character Name': 'Alex Power',
   'Character ID': 1010836,
   'Total Available Events': nan,
   'Total Available Series': 6.0,
   'Total Available Comics': 18.0,
   'Price of the Most Expensive Comic': 6.99},
  {'Character Name': 'Alex Wilder',
   'Character ID': 1010755,
   'Total Available Events': nan,
   'Total Available Series': 4.0,
   'Total Available Comics': 9.0,
   'Price of the Most Expensive Comic': 3.99},
  {'Character Name': 'Alexa Mendez',
   'Character ID': 1011214,
   'Total Available Events': nan,
   'Total Available Series': nan,
   'Total Available Comics': nan,
   'Price of the Most Expensive Comic': nan},
  {'Character Name': 'Alexander Pierce',
   'Character ID': 1009497,
   'Total Available Events': nan,
   'Total Available Series': 1.0,
   'Total Available Comics': 1.0,
   'Price of the Most Expensive Comic': 2.99}]}

# Bonus Question

The code below enables users to modify the Price of the Most Expensive Comic by providing either the Character ID or the Character Name. The API accept new prices in different currencies, including USD, EUR, GBP and CAD and transforms them to the right values to the exchange rate of the considered date and time. 

forex_python is used as it is a free foreign exhange rates and currency converter

In [19]:
pip install forex_python

Requirement already satisfied: forex_python in c:\users\admin\anaconda3\lib\site-packages (1.8)
Requirement already satisfied: simplejson in c:\users\admin\anaconda3\lib\site-packages (from forex_python) (3.17.6)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from forex_python) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests->forex_python) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->forex_python) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->forex_python) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests->forex_python) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from forex_python.converter import CurrencyRates

The price of the most expensive comic can be modified by providing either the "characterName" or "characterID", the desired new "price" and the "currency" of the provided price. The result is always in USD. If no "currency" parameter is provided, it assumes the price to be in USD.

In [21]:
requests.put('http://localhost:5000/characters', params={'characterID': 1016823, 'price':60, 'currency':'CAD'}).json()

{'status': 200,
 'response': [{'Character Name': 'Abomination (Ultimate)',
   'Character ID': 1016823,
   'Total Available Events': nan,
   'Total Available Series': 2.0,
   'Total Available Comics': 2.0,
   'Price of the Most Expensive Comic': 43.47}]}